<h1 style="text-align: cent; font-family: sans-serif; color: black;">Listado de Barcos</h1>

<table class="table table-striped table-hover" style="background-color: #e6fffc; text-align: center;">
    <thead>
      <tr>
        <th scope="col">Matrícula</th>
        <th scope="col">Nombre</th>
        <th scope="col">Número Amarre</th>
        <th scope="col">Cuota</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let barco of barcos" class="table-success">
        <td>{{barco.matricula}}</td>
        <td>{{barco.nombre}}</td>
        <td>{{barco.numeroAmarre}}</td>
        <td>{{barco.cuota}}</td>
        <td>
         <button class="btn btn-danger me-2" (click)="deleteBarco(barco.matricula)">Eliminar</button>
         <button class="btn btn-primary">Modificar</button>
        </td>
    </tr>
    </tbody>
  </table>
