<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="formulario">
                    <h2>Alta de Socios</h2>
                    <form>
                        <div class="mb-3">
                            <label for="idSocio" class="form-label">IdSocio:</label>
                            <input type="text" class="form-control" id="idSocio" name="idSocio" required>
                        </div>
                        <div class="mb-3">
                            <label for="nombre" class="form-label">Nombre:</label>
                            <input type="text" class="form-control" id="nombre" name="nombre" required>
                        </div>
                        <div class="mb-3">
                            <label for="apellidos" class="form-label">Apellidos:</label>
                            <input type="text" class="form-control" id="apellidos" name="apellidos" required>
                        </div>
                        <div class="mb-3">
                            <label for="edad" class="form-label">Edad:</label>
                            <input type="number" class="form-control" id="edad" name="edad" required>
                        </div>
                        <div class="mb-3">
                            <label for="codPostal" class="form-label">Código Postal:</label>
                            <input type="text" class="form-control" id="codPostal" name="codPostal" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Enviar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Enlace a Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.7.0/dist/js/bootstrap.bundle.min.js"></script>
</body>